.dimgray {
    border-color: dimgray;
}

.green {
    border-color: limegreen;
}

.cyan {
    border-color: deepskyblue;
}

.red {
    border-color: red;
}

.purple {
    border-color: rebeccapurple;
}

.turquoise {
    border-color: turquoise;
}

.indigo {
    border-color: indigo;
}

.malachite {
    border-color: #0bda51;
}

.gold {
    border-color: gold;
}

.dark_blue {
    border-color: darkblue;
}

.silver {
    border-color: silver;
}

.carbonic {
    border-color: #625D5D;
}