.red {
    color: red;
}

.turquoise {
    color: turquoise;
}

.indigo {
    color: indigo;
}

.malachite {
    color: #0bda51;
}

.gold {
    color: gold;
}

.dark_blue {
    color: darkblue;
}

.silver {
    color: silver;
}

.carbonic {
    color: #625D5D;
}