.status-round-active, .status-round-unactive, .status-round-error {
    position: relative;
    border: 8px solid transparent;
    border-radius: 32px;
    margin-top: 10px;
    transition-duration: 0.3s
}

.status-round-active {
    border-color: #0bda51!important;
}

.status-round-error {
    border-color: red!important;
}

.status-round-active::after, .status-round-unactive::after, .status-round-error::after {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid transparent;
    border-radius: 32px;
    height: 16px;
    width: 16px;
    top: -9px;
    left: -9px;
    box-shadow: inset 0 0 6px 0 black;
    transition-duration: 0.3s;
}