.stat-elements-group {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    align-items: center;
}

.stat-elements-group:last-child {
    margin-right: 0;
}

.stat-elements-group-label {
    margin-bottom: 10px;
    font-size: 18px;
}

.stat-elements-group-elements {
    display: flex;
    flex-direction: row;
}

.note {
    margin-top: 10px;
    font-size: 18px;
}