/******************************************/
/*                Main                    */
/******************************************/

@font-face {
    font-family: Digital;
    src: url(../fonts/Digital.ttf);
}

@font-face {
    font-family: Digital2;
    src: url(../fonts/Digital2.otf);
}

.app {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.app-block-wrapper {
    /*width: 450px;*/
}

.app-block {
    display: flex;
}

.app-block-inline {
    display: inline-flex;
}

.app-button {
    display: block;
    height: 25px;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
}

.app-button:hover {
    background-color: mediumpurple;
}

/******************************************/
/*             Calculator
/******************************************/

.app-calc-stat {
    width: 60px;
    margin: 0 1px;
}

.app-calc-digit-block {
    display: flex;
    width: 50px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    z-index: -2;
}

.app-calc-digit-wrapper {
    position: relative;
    top: 1px;
    left: 1px;
    text-align: right;
    font-family: Digital;
    font-size: 30px;
}

.app-calc-background {

}

.app-calc-stat-background {

}

.app-calc-digit-background {
    position: absolute;
    color: #404040;
    z-index: -1;
}

.app-calc-digit {
    color: skyblue;
    text-shadow: 1px 1px 2px skyblue;
}

.app-tide-status-active {
    color: limegreen;
    transition-duration: 0.3s;
}

.app-tide-status-unactive {
    color: white;
    transition-duration: 0.3s;
}

.app-tide-status-error {
    color: firebrick;
    transition-duration: 0.3s;
}

/******************************************/
/*             Calculator
/******************************************/

.app-tide-calc {
    border: 3px solid black;
    border-bottom: 0;
}

.app-tide-calc-element {
    border: 3px solid black;
    border-bottom: 0;
}

.app-tide-status {
    border: 3px solid black;
    border-top: 0;
}

.app-tide-status-element {
    border: 3px solid black;
    border-top: 0;
}

/******************************************/
/*              Positioning               */
/******************************************/

.app-centered {
    margin-left: auto;
    margin-right: auto;
}

.app-centered-flex-column {
    flex-direction: column;
    align-items: center;
}

.app-centered-content {
    justify-content: center;
}

.app-justified-content {
    justify-content: space-around;
}

.app-centered-text {
    display: block;
    width: 100%;
    text-align: center;
}

/******************************************/
/*                Size                    */
/******************************************/

.app-w100per {
    width: 100%;
}

.app-w100px {
    width: 100px;
}

.app-w150px {
    width: 150px;
}

.app-w200px {
    width: 200px;
}

.app-w250px {
    width: 250px;
}

.app-w530px {
    width: 530px;
}

/******************************************/
/*               Paddings                 */
/******************************************/

.app-p5px {
    padding: 5px;
}

.app-pl5px {
    padding-left: 5px;
}

.app-pr5px {
    padding-right: 5px;
}

.app-pb5px {
    padding-bottom: 5px;
}

/******************************************/
/*               Margins                  */
/******************************************/

.app-ml6px {
    margin-left: 6px;
}

.app-mt5px {
    margin-top: 5px;
}

.app-mb5px {
    margin-bottom: 5px;
}

.app-ml5px {
    margin-left: 5px;
}

.app-mr5px {
    margin-right: 5px;
}

.app-mt10px {
    margin-top: 10px;
}

.app-mb10px {
    margin-bottom: 10px;
}

.app-mt20px {
    margin-top: 20px;
}

.app-mb20px {
    margin-bottom: 20px;
}

.app-mr20px {
    margin-right: 20px;
}

.app-mlr5px {
    margin: 0 5px;
}

/******************************************/
/*                  Text                  */
/******************************************/

.app-lh20px {
    line-height: 20px;
}

.app-text-uppercase {
    text-transform: uppercase;
}

.app-text-bold {
    font-weight: bold;
}

.app-text-start-uppercase {
    text-transform: capitalize;
}

.app-font-consolas {
    font-family: Consolas, 'serif';
}

/******************************************/
/*               Blocks                   */
/******************************************/

.app-sharp-border {
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}

.app-vertical-border {
    border-width: 0 3px;
}

.app-horizontal-border {
    border-width: 3px 0;
}

/******************************************/
/*               Tool tip                 */
/******************************************/

.app-tooltip {
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
}

.app-tooltip-text {
    position: absolute;
    visibility: hidden;
    width: 130px;
    margin: -44px -67px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: rgba(102, 51, 153, 0.85);
    color: white;
    z-index: 1;
    opacity: 0;
    transition-duration: 0.3s;
}

.app-tooltip:hover .app-tooltip-text {
    visibility: visible;
    opacity: 1;
}

/******************************************/
/*            Radio buttons               */
/******************************************/


.app-radio-button {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-radio-button input {
    position: absolute;
    opacity: 0;
}

.app-radio-button span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.app-radio-button:hover input ~ span {
    background-color: #ccc;
}

.app-radio-button input:checked ~ span {
    background-color: rebeccapurple;
}

.app-radio-button span:after {
    content: "";
    position: absolute;
    display: none;
}

.app-radio-button input:checked ~ .span:after {
    display: block;
}

.app-radio-button span:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/******************************************/
/*               Arrows                   */
/******************************************/

.app-arrow-button {
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 3px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.app-arrow-button:hover {
    border-color: orange;
}


.app-arrow-button-up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.app-arrow-button-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.app-arrow-button-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.app-arrow-button-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/******************************************/
/*             Other - Round
/******************************************/

.app-round {
    position: relative;
    border: 8px solid;
    border-radius: 32px;
}

.app-round-glass-effect::after {
    content: '';
    position: absolute;
    display: block;
    border: 1px solid transparent;
    border-radius: 32px;
    height: 16px;
    width: 16px;
    top: -9px;
    left: -9px;
    box-shadow: inset 0px 0 6px 0px black;
}

/******************************************/
/*             Other - Shadow
/******************************************/

.app-small-shadow {
    box-shadow: 0 0 9px 1px;
}

.app-special-shadow {
    box-shadow: inset -5px -5px 10px -4px black;
}

/******************************************/
/*            Colors - Border
/******************************************/

.app-dimgray-border {
    border-color: dimgray;
}

.app-green-border {
    border-color: limegreen;
}

.app-cyan-border {
    border-color: deepskyblue;
}

.app-red-border {
    border-color: red;
}

.app-purple-border {
    border-color: rebeccapurple;
}

.app-turquoise-border {
    border-color: turquoise;
}

.app-indigo-border {
    border-color: indigo;
}

.app-malachite-border {
    border-color: #0bda51;
}

.app-gold-border {
    border-color: gold;
}

.app-dark_blue-border {
    border-color: darkblue;
}

.app-silver-border {
    border-color: silver;
}

.app-carbonic-border {
    border-color: #625D5D;
}

/******************************************/
/*         Colors - Background
/******************************************/

.app-dimgray-background {
    background-color: dimgray;
}

/******************************************/
/*               Colors
/******************************************/

.app-red-color {
    color: red;
}

.app-turquoise-color {
    color: turquoise;
}

.app-indigo-color {
    color: indigo;
}

.app-malachite-color {
    color: #0bda51;
}

.app-gold-color {
    color: gold;
}

.app-dark_blue-color {
    color: darkblue;
}

.app-silver-color {
    color: silver;
}

.app-carbonic-color {
    color: #625D5D;
}

